<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="be6077">  <td>21/05/17 09:29:35</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestCase1.beforeClass()[pri:0, instance:com.qa.testng.TestCase1@30c8681]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@826865256</td>   <td></td> </tr>
<tr bgcolor="be6077">  <td>21/05/17 09:29:39</td>   <td>3740</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase1.main()[pri:0, instance:com.qa.testng.TestCase1@30c8681]">main</td> 
  <td>main@826865256</td>   <td></td> </tr>
<tr bgcolor="be6077">  <td>21/05/17 09:29:39</td>   <td>4511</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestCase1.afterClass()[pri:0, instance:com.qa.testng.TestCase1@30c8681]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@826865256</td>   <td></td> </tr>
</table>
